{% extends 'base.html' %}

{% block title %} Termos de Uso {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
            <div class="mb-5">
                <a href="{% url 'home' %}" class="text-purple-400 hover:text-purple-300 transition inline-flex items-center gap-2">
                    <i class="bi bi-house"></i> Home
                </a>
                <span class="text-gray-500 mx-2">/</span>
                <span class="text-gray-300">Termos de Uso e Política de Privacidade</span>
            </div>
        {% else %}
            <div class="mb-5">
                <a href="{% url 'home' %}" class="text-purple-400 hover:text-purple-300 transition inline-flex items-center gap-2">
                    <i class="bi bi-house"></i> Home
                </a>
                <span class="text-gray-500 mx-2">/</span>
                <span class="text-gray-300">Termos de Uso e Política de Privacidade</span>
            </div>
        {% endif %}
    {{ terms_and_policy }}
{% endblock %}
