{% extends 'base.html' %}

{% block title %} Termos de Uso {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="mb-5">
            <a href="{% url 'home' %}" class="breadcrumb-link">
                <i class="bi bi-house"></i> Home
            </a>
            <span class="breadcrumb-separator">/</span>
            <span class="breadcrumb-current">Termos de Uso e Política de Privacidade</span>
        </div>
    {% else %}
        <div class="mb-5">
            <a href="{% url 'home' %}" class="breadcrumb-link">
                <i class="bi bi-house"></i> Home
            </a>
            <span class="breadcrumb-separator">/</span>
            <span class="breadcrumb-current">Termos de Uso e Política de Privacidade</span>
        </div>
    {% endif %}
    {{ terms_and_policy }}
{% endblock %}
