{% extends 'registration/auth_base.html' %}

{% block title %} Editar Perfil {% endblock %}

{% block auth_content %}
    <div class="mb-8 text-center">
        <h1 class="page-title">Editar perfil</h1>
    </div>
    <hr class="divider-line">

    <form method="post" class="form-container">
        {% csrf_token %}

        <div class="form-grid-two">
            <div class="flex flex-col">
                <label for="username" class="label-text">Nome de usuário</label>
                {{ form.username }}
                <div class="error-text">{{ form.username.errors }}</div>
            </div>
            <div class="flex flex-col">
                <label for="first_name" class="label-text">Seu nome</label>
                {{ form.first_name }}
            </div>
        </div>

        <div class="flex flex-col">
            <label for="email" class="label-text">Email</label>
            {{ form.email }}
            <div class="error-text">{{ form.username.errors }}</div>
        </div>

        <div class="flex flex-wrap gap-3 justify-center m-5 md:m-10">
            <button type="submit" class="action-btn-success">
                <i class="bi bi-check-circle-fill"></i>
                Salvar
            </button>
            <a href="{% url 'user_detail' pk=object.pk %}" class="return-btn">Cancelar</a>
        </div>

    </form>
{% endblock %}
