{% extends 'registration/auth_base.html' %}

{% block title %} Perfil {% endblock %}

{% block auth_content %}
    <div class="mb-8 text-center">
        <h1 class="page-title">Meu Perfil</h1>
        <p>Gerencie suas informações pessoais</p>
    </div>
    <hr class="divider-line">

    <div class="card bg-system mb-6">
        <div class="card-body">
            <div class="profile-info-section">
                <div class="avatar">
                    <div class="profile-avatar">
                        <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
                    </div>
                </div>
                <div>
                    <h2 class="section-title">{{ user.first_name }}</h2>
                    <p class="text-sm md:text-xl">@{{ user.username }}</p>
                </div>
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text m-0 font-semibold flex items-center gap-2">
                        <i class="bi bi-envelope-fill text-xl"></i>
                        <p class="text-sm md:text-xl">Email</p>
                    </span>
                </label>
                <p class="text-sm md:text-lg">{{ user.email|default:"Não cadastrado" }}</p>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap gap-3 justify-center">
        <a href="{% url 'user_update' pk=object.pk %}" 
           class="action-btn-primary">
            <i class="bi bi-pencil-fill"></i>
            Editar Perfil
        </a>
        <a href="{% url 'user_delete' pk=object.pk %}" 
           class="action-btn-error">
            <i class="bi bi-trash-fill"></i>
            Deletar Conta
        </a>
        <a href="{% url 'home' %}" 
           class="return-btn">
            Voltar
        </a>
    </div>
{% endblock %}
