footer {
    text-align: center;
    background-color: rgb(0, 0, 111);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: small;
}