{% extends 'registration/auth_base.html' %}

{% block title %} Login {% endblock %}

{% block auth_content %}
    <div class="mb-5 md:mb-10 text-center">
        <h1 class="auth-title">Entre na sua conta</h1>
    </div>
    <hr class="divider-line">

    {% if form.non_field_errors %}
        <div class="error-text">{{ form.non_field_errors }}</div>
    {% endif %}
    {% if blocked %}
        <div class="error-text">Muitas tentativas! Tente novamente mais tarde.</div>
    {% endif %}

    <form method="post" class="form-container">
        {% csrf_token %}

        <div class="form-field">
            <label for="username" class="label-text">Nome de usuário</label>
            <input id="username" name="username" type="text" class="input-global" required>
        </div>

        <div class="form-field">
            <label for="password" class="label-text">Senha</label>
            <input id="password" name="password" type="password" class="input-global" required>
            <a href="#" class="link-blue-large mt-5">Esqueci a minha senha</a>
        </div>

        <div class="pt-2 text-center">
            <button type="submit" class="auth-submit-btn">Entrar</button>
        </div>

        <div class="text-center">
            <a href="{% url 'register' %}" class="link-blue-large">Ou crie a sua conta</a>
        </div>

    </form>
{% endblock %}
