{% extends 'base.html' %}
{% block title %} Registre-se {% endblock %}

{% block content %}
<div class="text-white flex-grow flex items-center justify-center">
    <div class="bg-white/10 p-10 w-full max-w-2xl">
        <div class="text-center m-3">
            <h1 class="text-4xl font-light">Registre-se</h1>
        </div>
        <hr class="border-white/20 mb-10 mt-10">
        <form class="flex flex-col space-y-6" method="post">
            {% csrf_token %}
            <div class="flex flex-row gap-4">
                <div class="w-1/2 flex flex-col">
                    <label class="text-xl mb-3 font-light" for="first_name">Seu nome</label>
                    <input class="bg-white/10 border border-white/20 p-3 rounded-2xl text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent transition" id="first_name" type="text" name="first_name" required>
                </div>
                <div class="w-1/2 flex flex-col">
                    <label class="text-xl mb-3 font-light" for="username">Defina um nome usuário</label>
                    <input class="bg-white/10 border border-white/20 p-3 rounded-2xl text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent transition" type="text" id="username" name="username" required>
                </div>
            </div>
            <div class="flex flex-col ">
                <label class="text-xl mb-3 font-light" for="email">Seu e-mail</label>
                <input class="bg-white/10 border border-white/20 p-3 rounded-2xl text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent transition" type="email" id="email" name="email" required>
            </div>
            <div class="flex flex-row gap-4">
                <div class="w-1/2 flex flex-col">
                    <label class="text-xl mb-3 font-light" for="password">Defina a sua senha</label>
                    <input class="bg-white/10 border border-white/20 p-3 rounded-2xl text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent transition" type="password" id="password" name="password" required>
                </div>
                <div class="w-1/2 flex flex-col mb-5">
                    <label class="text-xl mb-3 font-light" for="password2">Confirme a senha</label>
                    <input class="bg-white/10 border border-white/20 p-3 rounded-2xl text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent transition" type="password" id="password2" name="password2" required>
                </div>
            </div>

            <div class="pt-2 text-center">
                <button type="submit" class="bg-purple-700/80 p-3 rounded-full text-xl w-60 hover:bg-purple-700 hover:shadow-lg hover:shadow-purple-500/50 transition-all duration-300 ease-in-out">Concluir</button>
            </div>
            <div class="text-center">
                <a href="{% url 'login' %}" class="text-blue-500 hover:text-blue-700 text-xl transition">Já tem uma conta?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
