{% extends 'registration/auth_base.html' %}
{% load static %}

{% block title %} Registre-se {% endblock %}

{% block auth_content %}
    <div class="text-center m-3">
        <h1 class="auth-title">Registre-se</h1>
    </div>
    <hr class="divider-line">

    <form class="form-container" method="post" id="form-register">
        {% csrf_token %}

        <div class="flex flex-row gap-4">
            <div class="w-1/2 form-field">
                <label class="label-text" for="first_name">Seu nome</label>
                {{ form.first_name }}
            </div>
            <div class="w-1/2 form-field">
                <label class="label-text" for="username">Crie um nome de usuário</label>
                {{ form.username }}
                <div class="error-text">{{ form.username.errors }}</div>
            </div>
        </div>

        <div class="form-field">
            <label class="label-text" for="username">Email (opcional)</label>
            {{ form.email }}
            <div class="error-text">{{ form.email.errors }}</div>
        </div>

        <div class="flex flex-row gap-4">
            <div class="w-1/2 form-field">
                <label class="label-text" for="username">Defina uma senha</label>
                {{ form.password1 }}
                <div class="error-text">{{ form.password1.errors }}</div>
            </div>
            <div class="w-1/2 form-field">
                <label class="label-text" for="username">Confirme a senha</label>
                {{ form.password2 }}
                <div class="error-text">{{ form.password2.errors }}</div>
            </div>
        </div>

        <div style="margin-top: 0px;">
            Ao continuar, você concorda com os nossos <a href="{% url 'terms_use' %}" class="link-blue">Termos de Uso</a>
        </div>

        <div class="pt-2 text-center">
            <button type="submit" class="auth-submit-btn" id="btn-register">Concluir</button>
        </div>
        
        <div class="text-center">
            <a href="{% url 'login' %}" class="link-blue-large">Já tem uma conta?</a>
        </div>

    </form>

    <script src="{% static 'javascript/register.js' %}"></script>
{% endblock %}
