{% extends 'base.html' %}
{% load static %}

<h3>{% block title %}Página Inicial{% endblock %}</h3>

{% block content %}
    <h1>Simulador de Sistema Computacional Seguro</h1>
    <div class="PAI" style=" padding: 10px; display: flex; height: auto;">
        <div class="FILHO" style=" padding: 10px; width: 50%; margin: 10px; height: auto;">
            <div style="text-align: center; display: grid;">
                <button style="padding: 20px;"><a href="{% url 'system_data' %}" style="margin-top: 30px; padding: 20px; text-decoration: none;">Monitoramento do Sistema</a></button>
                <button style="margin-top: 30px; padding: 20px;"> <a href="{% url 'num_converter' %}" style="margin-top: 30px; padding: 20px; text-decoration: none;">Conversor Numérico</a></button>
                <button style="margin-top: 30px; padding: 20px;">Integração e Tendências</button>
                <button style="margin-top: 30px; padding: 20px;">Sobre o sistema</button>
            </div>
        </div>
        <div class="FILHO" style="border: 2px solid rgb(17, 0, 255); padding: 10px; width: 50%; margin: 10px; height: auto; display: flex; justify-content: center; align-items: center;">Imagem</div>
    </div>
{% endblock %}