{% extends 'base.html' %}
{% load static %}

{% block title %} Conversor Numérico {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h1>Conversor Numérico</h1>

    <h2>Conversor</h2>
    <input type="text" id="value" placeholder="Digite um número">
    <select id="type_converter">
        <option value="bin2dec">Binário para Decimal</option>
        <option value="dec2bin">Decimal para Binário</option>
        <option value="dec2hex">Decimal para Hexadecimal</option>
        <option value="dec2oct">Decimal para Octodecimal</option>
        <option value="hex2dec">Hexadecimal para Decimal</option>
        <option value="oct2dec">Octadecimal para Decimal</option>
    </select>

    <button onclick="converter()">Converter</button>

    <p id="result_converter"></p>

    <h2>Operação Lógica</h2>
    <input type="text" id="value1" placeholder="Digite 0 ou 1">
    <select id="type_boolean">
        <option value="and">AND</option>
        <option value="or">OR</option>
        <option value="xor">XOR</option>
    </select>
    <input type="text" id="value2" placeholder="Digite 0 ou 1">

    <button onclick="boolean()">Enviar</button>

    <p id="result_boolean"></p>
</div>

<div class="button_div">
    <a href="{% url 'main' %}" class="button">Voltar</a>
</div>

<script>
    async function converter() {
        const value = document.getElementById('value').value;
        const type = document.getElementById('type_converter').value;

        const request = await fetch(`api/?value=${value}&type=${type}`);
        const data = await request.json();

        document.getElementById("result_converter").innerText = "Resultado: " + data.result;
    }


    async function boolean() {
        const value1 = document.getElementById('value1').value;
        const value2 = document.getElementById('value2').value;
        const type = document.getElementById('type_boolean').value;

        const request = await fetch(`api/?type=${type}&value1=${value1}&value2=${value2}`);
        const data = await request.json();

        document.getElementById("result_boolean").innerText = "Resultado: " + data.result;
    }
</script>
{% endblock %}