{% extends 'base.html' %}
{% load static %}

{% block title %} Monitoramento do Sistema {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h1>Monitoramento do Sistema</h1>
</div>
<p><strong>CPU:</strong> {{ stats.cpu_percent }}%</p>
<p><strong>RAM</strong> {{ stats.ram_used }} GB / {{ stats.ram_total }} GB | <strong>Em uso:</strong> {{ stats.ram_percent }}%</p>
<p><strong>SSD: </strong> {{ stats.memory_used }} GB / {{ stats.memory_total }} GB</p>

<button onclick="ai_analysis()" class="button">Gerar análise de IA</button>

<p id="ai_analysis"></p>

<div class="button_div">
    <a href="{% url 'main' %}" class="button">Voltar</a>
</div>

{% if ai %}
    <script>
        async function ai_analysis() {
            document.getElementById("ai_analysis").innerText = "Morpheus IA\n{{ ai }}";
        }
    </script>
{% else %}
    <script>
        async function ai_analysis() {
            document.getElementById("ai_analysis").innerText = "Análise de IA indisponível :( \n Possível atualização ocorrendo ou instabilidade no sistema. Por favor, tente novamente mais tarde.";
        }
    </script>
{% endif %}
{% endblock %}